:root {
    --background-dark: #161616;
    --background-light: #302e2b;
    --gold: #c09b24;
    --silver: #bcbdbd;
    --sea: #6c8c92;
    --hunter: #54380888;
    --solidhunter: #543808;
    --blush: #b14b6f;
    --wine: #832c55;
}

body {
    background-color: var(--background-dark);
    color: var(--silver);
}

.search-results {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--solidhunter);
    border-radius: 5%;
    box-shadow: 0px 5px 8px var(--blush);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.search-results:empty {
    border: none;
}

.search-results::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 10%;
    height: 5px;
}

.search-results::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* Roundness of the scrollbar thumb */
    background-color: var(--blush);
    /* Color of the scrollbar thumb */
}

.search-results a {
    text-decoration: none;
    color: var(--silver);
    margin-bottom: 5px;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.cocktail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.cocktail-container .cocktail-list-title {
    font-weight: bold;
    font-size: 2rem;
    color: #9bd4de;
    padding: 25px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cocktail-card {
    width: 175px;
    height: 175px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px var(--gold);
    transition: transform 0.3s ease-in-out;
    background-color: var(--hunter);
}

.cocktail-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 8px var(--sea);
}

.cocktail-image {
    width: 100%;
    height: 75%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.cocktail-title {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    color: var(--gold);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cocktail-ingredients {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cocktail-ingredient {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 16px;
    background: linear-gradient(0deg, var(--wine) 0%, var(--background-dark) 30%, var(--background-light) 100%);
}

.header {
    width: 150px !important;
    height: 100px !important;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 75px;
}

.header-right {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 100px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--wine);
    padding-right: 40px;
    color: var(--silver);
    margin-right: 50px;
}

.input-search::placeholder {
    color: var(--sea);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
    padding-left: 14px;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -100px;
    color: var(--silver);
    background-color: transparent;
    pointer-events: painted;
    margin-left: 50px;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--silver);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    color: var(--sea);
    border-bottom: 1px solid var(--sea);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.header-title h1 {
    margin: 0;
    color: var(--gold);
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .cocktail-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
    }

    .cocktail-list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .cocktail-list-title {
        margin-top: 20px;
        color: var(--gold);
    }

        .cocktail-container .cocktail-list-title {
            font-weight: bold;
            font-size: 2rem;
            color: var(--sea);
            padding: 25px;
            position: absolute;
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: normal;
            white-space: nowrap;
        }

    .header-right{
        display: flex;
        flex-wrap: wrap;
    }
    .input-search{
        margin-right: 10px;
        order: 1;
        width: 80%;
    }
        .input-search:focus {
            width: 100%;
            /* update width to 100% when focused */
            border-radius: 0px;
            background-color: transparent;
            color: var(--blush);
            border-bottom: 1px solid var(--silver);
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    .btn-search{
        right: -50px;
        order: 2;
        width: 20%;
        margin-top: 10px;
    }

    h1{
        padding-bottom: 10px;
    }

    .carousel-slider {
        max-width: 300px;
        max-height: 227px;
    }

    .carousel .slide {
        max-width: 330px;
        max-height: 227px;
        margin: 0 auto;
    }

    .carousl-dots {
        bottom: -30px;
    }

    .carousel-dots li button:before {
        color: var(--silver);
    }

    .carousel-dots li.slick-active button:before {
        color: var(--gold);
    }
}