.ingredients-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove bullet points */
}

.ingredients-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ingredients-list li::before {
    content: counter(ingredient-counter, decimal);
    counter-increment: ingredient-counter;
    margin-right: 0.5rem;
    color: #6c757d;
    font-weight: bold;
}


/* Define a specific width and height for images */
.ingredients-list li img {
    width: 50px;
    /* Adjust the width to your desired size */
    height: 50px;
    /* Adjust the height to your desired size */
}
/* Hide ".jpg" links */
.ingredients-list li a[href$=".jpg"] {
    display: none;
}

.cocktail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Update the .cocktail-list styling */
.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
}

/* Move the .cocktail-list-title styling to .cocktail-container */
.cocktail-container .cocktail-list-title {
    font-weight: bold;
    font-size: 2rem;
    color: rgba(75, 0, 130, 0.8);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.cocktail-card {
    width: 175px;
    height: 175px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cocktail-card:hover {
    transform: scale(1.05);
}

.cocktail-image {
    width: 100%;
    height: 75%;
    object-fit:contain;
    border-radius: 10px 10px 0 0;
}

.cocktail-title {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    color: rgba(75, 0, 130, 0.8);
}

.cocktail-ingredients {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cocktail-ingredient {
    margin-bottom: 5px;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
}

.search-input {
    flex-basis: 40%;
    margin-right: 16px;
}

.search-select {
    flex-basis: 30%;
    margin-right: 16px;
}

.search-button {
    flex-basis: 20%;
}

@media (max-width: 600px) {
    .cocktail-card {
        width: 100%;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-input,
    .search-select,
    .search-button {
        flex-basis: 100%;
        margin-bottom: 16px;
    }
}

h1 {
    text-align: center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
}
.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f8f9fa;
}

.header-title h1 {
    margin: 0;
}