.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.search-results a {
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
}

.cocktail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.cocktail-container .cocktail-list-title {
    font-weight: bold;
    font-size: 2rem;
    color: rgba(75, 0, 130, 0.8);
    padding: 10px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.cocktail-card {
    width: 175px;
    height: 175px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cocktail-card:hover {
    transform: scale(1.05);
}

.cocktail-image {
    width: 100%;
    height: 75%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.cocktail-title {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    color: rgba(75, 0, 130, 0.8);
}

.cocktail-ingredients {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cocktail-ingredient {
    margin-bottom: 5px;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
}

.search-input {
    flex-basis: 40%;
    margin-right: 16px;
}

.search-select {
    flex-basis: 30%;
    margin-right: 16px;
}

.search-button {
    flex-basis: 20%;
}

@media (max-width: 600px) {
    .cocktail-card {
        width: 100%;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-input,
    .search-select,
    .search-button {
        flex-basis: 100%;
        margin-bottom: 16px;
    }
}

h1 {
    text-align: center;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.header-content {
    display: flex;
    justify-content: flex-start;
    /* Align items to the start of the flex container (left side) */
    align-items: center;
    width: 100%;
    height: 75px;
}

.header-right {
    margin-left: auto;
    /* Push the header-right to the right */
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f8f9fa;
    margin-bottom: 16px;
}

.header-title h1 {
    margin: 0;
}